/* Application-wide Styles */

h1 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    margin: 0;
}

h2,
h3 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body,
input[type="text"],
button {
    color: #333;
    font-family: Cambria, Georgia, serif;
}


/* everywhere else */

* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    background-color: blanchedalmond;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title-center {
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    text-align: center;
}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
}

* {
    margin: 0;
}